body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff; 
    margin: 0;
    background: #1e1e1e;

    input[type='text']{
        background: #2b2b2b;
        color: #fff;
        border: 1px solid #c1e1ff;
        line-height: 1.5rem;
        padding: 0 0.4rem;
        border-radius: 3px;
        background: #1e1e1e;
        font-size: 1rem;
    }
    
    .object-builder{
        padding: 2rem;
        border: 1px solid #fff;
        margin: 3rem 6rem;
        border-radius: 3px;
        width: 40rem;
  }
  
}




* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}